$text-color: #171717;
$text-gray: rgba(#171717, 0.4);
$bg-color: #232323;
$bg-second-color: #001115;
$border-color: rgba(#171717, 0.1);
$border-color-white: rgba(#fff, 0.2);
$shadow-color: rgba(#171717, 0.1);
